:root {
  --default-font-family: "Roboto", sans-serif;
  --inner-font-family: "Poppins", sans-serif;
  --heading-font-family: "Kalam", cursive;
  --branding-color: rgb(58, 56, 56);
  --second-color: rgba(240, 208, 176);
  --main-reverse-color: linear-gradient(
    to right,
    rgba(240, 208, 176),
    rgb(16, 32, 64)
  );
  --main-color: linear-gradient(to left, rgba(240, 208, 176), rgb(16, 32, 64));
}
body {
  background: var(--main-reverse-color);
  text-align: center;
}
a {
  text-decoration: none;
}
.navbar-custom {
  background: var(--main-reverse-color);
}
.navbar-brand {
  margin-left: 10px;
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: bold;
}
.navbar-custom,
.nav-link,
.navbar-toggler,
.navbar-toggler-icon,
.navbar-collapse,
.navbar-nav {
  color: var(--second-color);
}
.navbar-toggler-icon {
  font: white;
}
.nav-item a:hover {
  color: var(--branding-color);
}
ul {
  margin: 0;
}
h1 {
  position: relative;
  background: var(--main-color);

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.hero {
  background-image: url(..//images/fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--branding-color);
  text-align: center;
  margin: 20px 5px 10px 5px;
  padding: 40px 0;
  box-shadow: 0 10px 40px rgba(239, 239, 239, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.hero p {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}
h2,
h3 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 600;
  margin: 10px auto;
  position: relative;
}
.line::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  width: 100px;
  height: 6px;
  transform: translateX(-50%);
  background: var(--main-reverse-color);
  border-radius: 15px;
}
.city {
  background: var(--main-color);

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.btn-branding {
  background: var(--main-color);
  border-radius: 4px;
  color: var(--second-color);
  font-size: 12px;
  padding: 5px 10px;
  border: none;
  margin-right: 25px;
}
.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 5px 5px;
}
.intro {
  padding-bottom: 30px;
  color: rgb(19, 18, 18);
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 12px 0;
  font-size: 16px;
  color: wheat;
  border-top: 1px solid wheat;
  border-bottom: 1px solid wheat;
}
.tech-wrapper {
  margin: 10px auto;
}
.tech-steck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: var(--main-color);
  border-bottom: 1px solid var(--second-color);
}
.tech-steck-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0;
  width: 50px;
}
.tech-icon {
  width: 25px;
  height: 25px;
}

.projects-wrapper {
  box-shadow: 0 10px 40px rgba(239, 239, 239, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects ul li {
  position: relative;
}
.projects-image {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
}
ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

.projects-image img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.right .projects-image {
  right: 0;
}
.projects.right .projects-description {
  text-align: center;
  font-size: 12px;
  color: #ecf0f1;
}
.projects.left .projects-description {
  font-size: 12px;
  text-align: center;
  color: #ecf0f1;
}

.projects-image img:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.projects-title {
  position: relative;
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--second-color);
}

.projects-list {
  margin-bottom: 30px;
}
.projects-link-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--second-color);
}
.projects-link-box-right {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--second-color);
}
.projects-link {
  font-size: 12px;
  font-weight: 600;
  color: var(--branding-color);
}
.projects-link > img {
  width: 20px;
  height: 20px;
}

.icon {
  color: var(--branding-color);
  padding: 3px;
  font-size: 20px;
  margin: 10px;
  width: 20px;
}
.open-source {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}
.open-source:hover {
  color: var(--container-background-color-color);
  text-decoration: underline;
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 18px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
}

/* *TODO About */
.about_section {
  margin-top: 60px;
  text-align: start;
  padding: 10px;
  box-shadow: 0 10px 40px rgba(239, 239, 239, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.about_section h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
}
.about-description {
  font-size: 14px;
}
.photo {
  border: 1px solid var(--container-background-color);
  border-radius: 30%;
  width: 85%;
  margin-left: 10px;
}
.photo {
  width: 200px;
  height: 250px;
  background-color: var(--second-color);
  position: relative;
  margin: 10px auto;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, 0.4);
}
.photo:after,
.photo:before {
  mix-blend-mode: multiply;
  filter: none;
  z-index: -1;
  content: "";
  width: calc(100% + 90px);
  height: calc(100% + 90px);
  position: absolute;
  animation: anim-ramka-2 8s ease-in-out infinite;
}
@keyframes anim-ramka-2 {
  0%,
  100% {
    clip-path: polygon(
      0 0,
      calc(100% - (33px)) calc(0% + (33px)),
      100% 100%,
      calc(0% + (33px)) calc(100% - (33px))
    );
  }
  50% {
    clip-path: polygon(
      calc(0% + (33px)) calc(0% + (33px)),
      100% 0,
      calc(100% - (33px)) calc(100% - (33px)),
      0 100%
    );
  }
}
.photo:after {
  animation-delay: -5s;
  background-color: #878c98;
  clip-path: polygon(
    0 0,
    calc(100% - (33px)) calc(0% + (33px)),
    100% 100%,
    calc(0% + (33px)) calc(100% - (33px))
  );
}
.photo:before {
  background-color: rgb(231, 216, 204);
  clip-path: polygon(
    calc(0% + (33px)) calc(0% + (33px)),
    100% 0,
    calc(100% - (33px)) calc(100% - (33px)),
    0 100%
  );
}
.photo:hover:after {
  animation-delay: 1s;
}
.photo:hover:before,
.photo:hover:after {
  animation-duration: 2s;
}
/* *TODO Work */
.content_container {
  margin-top: 20px;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 10px 40px rgba(239, 239, 239, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.content h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}

.text-about-project {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 14px;
}

.my-projects {
  border: 1px solid var(--container-background-color);
  border-radius: 15%;
  width: 85%;
}
.my-projects:hover {
  transform: scale(1.1);
  transition: all 400ms ease;
  box-shadow: 0 20px 30px wheat;
}
/* *TODO Contact */

.link-contact {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.link-contact:hover {
  color: var(--container-background-color-color);
  text-decoration: underline;
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 14px;
}
.content-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 480px) {
  h1 {
    font-size: 56px;
  }
  .hero {
    margin: 20px 45px 10px 45px;
    padding: 50px 0;
  }
  .hero p {
    font-size: 26px;
    padding-top: 15px;
  }
  h2,
  h3 {
    font-size: 26px;
    margin: 10px auto;
  }
  .navbar-brand {
    margin-left: 20px;
  }
  .line::after {
    width: 120px;
    height: 7px;
  }
  .container {
    max-width: 400px;
    padding: 10px 10px;
  }
  .tech-wrapper {
    margin: 30px auto;
  }
  .tech-steck {
    gap: 10px;
  }
  .tech-steck-item {
    font-size: 14px;
    padding: 10px 0;
    width: 60px;
  }
  .tech-icon {
    width: 30px;
    height: 30px;
  }

  .projects-link {
    font-size: 14px;
    font-weight: 600;
  }
  .projects-link > img {
    width: 18px;
    height: 18px;
  }
  /* *TODO About */
  .about_section {
    margin-top: 60px;
    padding: 15px;
  }
  .about_section h1 {
    font-size: 32px;
  }

  /* *TODO Work */
  .content_container {
    margin-top: 40px;
    padding: 15px 0;
  }
  .content h1 {
    font-size: 20px;
  }
  /* *TODO Contact */

  .link-contact {
    font-size: 14px;
  }
  .link-contact:hover {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
  .hero {
    margin: 35px 55px 10px 55px;
    padding: 35px 0;
  }
  .hero p {
    font-size: 36px;
    padding-top: 20px;
  }
  h2,
  h3 {
    font-size: 32px;
    margin: 10px auto;
  }
  .btn-branding {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
  }
  .navbar-brand {
    margin-left: 30px;
  }
  .line::after {
    width: 150px;
    height: 8px;
  }
  .container {
    max-width: 700px;
    padding: 20px 10px;
  }
  .tech-wrapper {
    margin: 40px auto;
  }
  .tech-steck {
    gap: 15px;
  }
  .tech-steck-item {
    font-size: 16px;
    padding: 10px 0;
    width: 80px;
  }
  .tech-icon {
    width: 35px;
    height: 35px;
  }
  .projects-image {
    position: absolute;
    top: 0;
  }
  .right > .projects-image {
    right: 0;
  }
  .left > .projects-image {
    left: 0;
  }
  .projects.right .projects-description {
    padding: 0 55% 25px 0;
    font-size: 14px;
    text-align: right;
  }
  .projects.left .projects-description {
    padding: 0 0 25px 55%;
    font-size: 14px;
    text-align: left;
  }
  .projects-link {
    font-size: 16px;
    font-weight: 600;
  }
  .projects-link > img {
    width: 22px;
    height: 22px;
  }
  .projects-title {
    font-size: 18px;
  }
  .photo {
    display: flex;
  }
  /* *TODO About */
  .about_section {
    margin-top: 50px;
    padding: 30px;
  }
  h1 {
    font-size: 52px;
  }
  .about-description {
    font-size: 18px;
  }
  .photo {
    width: 85%;
    margin-left: 30px;
  }
  .photo {
    width: 270px;
    height: 320px;
    margin: 30px auto;
  }
  /* *TODO Work */
  .content_container {
    margin-top: 50px;
    padding: 25px 0;
  }
  .content h1 {
    font-size: 24px;
  }
  /* *TODO Contact */

  .link-contact {
    font-size: 18px;
  }
  .link-contact:hover {
    font-size: 18px;
  }
  .content-contact {
    margin-left: 30%;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 96px;
  }
  .hero {
    margin: 50px 75px 20px 75px;
    padding: 50px 0;
  }

  .hero p {
    font-size: 46px;
    padding-top: 25px;
  }
  h2 {
    font-size: 42px;
    margin: 20px auto;
  }
  h3 {
    font-size: 36px;
    margin: 20px auto;
  }
  .navbar-brand {
    margin-left: 50px;
  }
  .line::after {
    width: 200px;
    height: 10px;
  }
  .container {
    max-width: 1140px;
    padding: 30px 20px;
  }
  .content {
    justify-content: center;
    align-items: center;
  }
  .tech-wrapper {
    margin: 50px auto;
  }
  .tech-steck {
    gap: 20px;
  }
  .tech-steck-item {
    font-size: 18px;
    padding: 15px 0;
    width: 100px;
  }
  .tech-icon {
    width: 50px;
    height: 50px;
  }
  .projects-image {
    position: absolute;
  }
  .projects.right .projects-description {
    padding: 0 55% 40px 0;
    font-size: 16px;
  }
  .projects.left .projects-description {
    padding: 0 0 40px 55%;
    font-size: 16px;
  }
  .projects-link {
    font-size: 18px;
    font-weight: 700;
  }
  .projects-link > img {
    width: 26px;
    height: 26px;
  }
  .projects-title {
    font-size: 24px;
  }
  /* *TODO About */
  .about_section {
    margin-top: 80px;
    padding: 50px;
  }
  .about_section h1 {
    font-size: 64px;
  }

  .photo {
    width: 85%;
    margin-left: 50px;
  }
  .photo {
    width: 300px;
    height: 350px;
    margin: 60px auto;
  }
  /* *TODO Work */
  .content_container {
    margin-top: 80px;
    padding: 50px 0;
  }
  .content h1 {
    font-size: 42px;
  }
  /* *TODO Contact */

  .link-contact {
    font-size: 24px;
  }
  .link-contact:hover {
    font-size: 24px;
  }
  .content-contact {
    margin-left: 30%;
  }
}
